// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "./c3.css";

@text-color: rgb(59, 67, 68);
@background-color: rgb(214, 214, 214);
@fontSizeLabel: 30px;


.fitgit {
    // background-color: rgb(134, 139, 145);
}

.letters-chart__container {
    max-width: 700px;
}

.fitgit-text {
    color: @text-color;
    font-size: @fontSizeLabel
}

.container {
    background-color: @background-color;
    margin: 30px;
}
