// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "./c3.css";

@text-color: rgb(59, 67, 68);
@background-color: rgb(255, 255, 255);
@fontSizeLabel: 30px;

.panel-right {
    overflow-y: scroll;
}
.fitgit {

}

.letters-chart__container {
    max-width: 700px;
}

.fitgit-text {
    color: @text-color;
    font-size: @fontSizeLabel;
    text-align: center;
}

.container {
    background-color: @background-color;
    margin: 30px;
    max-width: 500px;
    border-radius: 20px;
}

.img__container {
    max-width: 500px;
    max-height: 200px;
}
